* {
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-dashboard {
    padding-top: 30%;
    padding-bottom: 30%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-image: url(img/dash.jpg);
}

.header-left a {
    width: 124px;
    color: white;
    padding: 0 30px;
    line-height: 65px;
    font-size: 40px;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}